In [1]:
from src import functions as f

import pandas as pd
import numpy as np

%load_ext autoreload
%autoreload 2

In [2]:
 X_train, X_test, y_train, y_test, stock_df, current_price = f.data('aapl', "12/12/1980", 1)

In [3]:
stock_df.sample(5)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,month,dayofweek,oc,...,5stdev_slope9,roll13,slope13,3sma_slope13,3stdev_slope13,roll21,slope21,3sma_slope21,3stdev_slope21,direction
Date,,,,,,,,,,,,,,,,,,,,,
1992-04-24,0.416855,0.425996,0.409542,0.413198,98280000,0.0,0.0,4,4,-0.008773,...,0.001427,"[0.41868382692337036, 0.40862786769866943, 0.4...",0.000226,-0.000236,0.000408,"[0.4680482745170593, 0.446108341217041, 0.4250...",-0.001371,-0.001795,0.000430,-1
1998-01-30,0.140004,0.144305,0.139527,0.140004,162444800,0.0,0.0,1,4,0.000000,...,0.000322,"[0.14908334612846375, 0.15099452435970306, 0.1...",-0.000466,-0.000024,0.000435,"[0.10034506767988205, 0.12423594295978546, 0.1...",0.001230,0.001728,0.000491,-1
1987-01-05,0.143946,0.150925,0.143074,0.150052,239680000,0.0,0.0,1,0,0.042421,...,0.000241,"[0.14830762147903442, 0.14394588768482208, 0.1...",-0.000194,-0.000304,0.000108,"[0.14830762147903442, 0.15267007052898407, 0.1...",-0.000317,-0.000353,0.000046,-1
2007-10-05,4.843147,4.941313,4.822658,4.937337,943471200,0.0,0.0,10,4,0.019448,...,0.017031,"[4.304917335510254, 4.290851593017578, 4.40828...",0.049794,0.051893,0.003327,"[4.029686450958252, 4.180757999420166, 4.14344...",0.044869,0.042954,0.001827,1
2005-01-24,1.085327,1.097560,1.078752,1.081963,841629600,0.0,0.0,1,0,-0.003100,...,0.001633,"[0.9862446784973145, 0.9870091676712036, 1.058...",0.007711,0.008569,0.000844,"[0.978752076625824, 0.9657551050186157, 0.9813...",0.006403,0.006106,0.000312,1

In [4]:
rfc, _, _ = f.rfc(X_train, X_test, y_train, 'amzn', 1)

In [5]:
rfc.feature_importances_

array([0.48015384, 0.04204018, 0.02379287, 0.02742714, 0.        ,
       0.01867708, 0.01866887, 0.        , 0.02115689, 0.01890662,
       0.        , 0.11738557, 0.01177877, 0.01543125, 0.03225136,
       0.01243314, 0.01495626, 0.01733112, 0.01131601, 0.01645094,
       0.01079173, 0.00920169, 0.01998465, 0.01131321, 0.01294124,
       0.02093407, 0.00824961, 0.0064259 ])

In [6]:
stock_df = pd.read_pickle(f'./data/aapl_df.pkl')

In [7]:
stock_df.tail(5)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-02-28,163.059998,165.419998,162.429993,165.119995,94869100,0.0,0.0
2022-03-01,164.699997,166.600006,161.970001,163.199997,83474400,0.0,0.0
2022-03-02,164.389999,167.360001,162.949997,166.559998,79724800,0.0,0.0
2022-03-03,168.470001,168.910004,165.550003,166.229996,76335600,0.0,0.0
2022-03-04,164.490005,165.550003,162.110001,163.169998,81921716,0.0,0.0

In [8]:
df_sample = stock_df[['Close', 'Volume']].iloc[-39:]
df_sample

                 Close     Volume
Date
2022-01-07  171.950928   86580100
2022-01-10  171.970901  106765600
2022-01-11  174.857224   76138300
2022-01-12  175.306641   74805200
2022-01-13  171.970901   84505800
2022-01-14  172.849792   80355000
2022-01-18  169.583939   90956700
2022-01-19  166.018478   94815000
2022-01-20  164.300659   91420500
2022-01-21  162.203354  122848900
2022-01-24  161.414337  162294600
2022-01-25  159.576691  115798400
2022-01-26  159.486801  108275300
2022-01-27  159.017410  121954600
2022-01-28  170.113266  179935700
2022-01-31  174.557602  115541600
2022-02-01  174.387817   86213900
2022-02-02  175.616257   84914300
2022-02-03  172.679993   89418100
2022-02-04  172.389999   82391400
2022-02-07  171.660004   77251200
2022-02-08  174.830002   74829200
2022-02-09  176.279999   71285000
2022-02-10  172.119995   90865900
2022-02-11  168.639999   98566000
2022-02-14  168.880005   86185500
2022-02-15  172.789993   62527400
2022-02-16  172.550003   61177400
2022-02-17  168.880005   69589300
2022-02-18  167.300003   82772700
2022-02-22  164.320007   91162800
2022-02-23  160.070007   90009200
2022-02-24  162.740005  141147500
2022-02-25  164.850006   91974200
2022-02-28  165.119995   94869100
2022-03-01  163.199997   83474400
2022-03-02  166.559998   79724800
2022-03-03  166.229996   76335600
2022-03-04  163.169998   81921716

In [9]:
df_sample['roll'] = [x.to_list() for x in df_sample.Close.rolling(window=3)]

In [10]:
df_sample

,Close,Volume,roll
Date,,,
2022-01-07,171.950928,86580100,[171.950927734375]
2022-01-10,171.970901,106765600,"[171.950927734375, 171.9709014892578]"
2022-01-11,174.857224,76138300,"[171.950927734375, 171.9709014892578, 174.8572..."
2022-01-12,175.306641,74805200,"[171.9709014892578, 174.8572235107422, 175.306..."
2022-01-13,171.970901,84505800,"[174.8572235107422, 175.306640625, 171.9709014..."
2022-01-14,172.849792,80355000,"[175.306640625, 171.9709014892578, 172.8497924..."
2022-01-18,169.583939,90956700,"[171.9709014892578, 172.84979248046875, 169.58..."
2022-01-19,166.018478,94815000,"[172.84979248046875, 169.5839385986328, 166.01..."
2022-01-20,164.300659,91420500,"[169.5839385986328, 166.0184783935547, 164.300..."
2022-01-21,162.203354,122848900,"[166.0184783935547, 164.3006591796875, 162.203..."
2022-01-24,161.414337,162294600,"[164.3006591796875, 162.20335388183594, 161.41..."
2022-01-25,159.576691,115798400,"[162.20335388183594, 161.41433715820312, 159.5..."
2022-01-26,159.486801,108275300,"[161.41433715820312, 159.57669067382812, 159.4..."
2022-01-27,159.017410,121954600,"[159.57669067382812, 159.48680114746094, 159.0..."
2022-01-28,170.113266,179935700,"[159.48680114746094, 159.0174102783203, 170.11..."
2022-01-31,174.557602,115541600,"[159.0174102783203, 170.11326599121094, 174.55..."
2022-02-01,174.387817,86213900,"[170.11326599121094, 174.55760192871094, 174.3..."
2022-02-02,175.616257,84914300,"[174.55760192871094, 174.3878173828125, 175.61..."
2022-02-03,172.679993,89418100,"[174.3878173828125, 175.6162567138672, 172.679..."
2022-02-04,172.389999,82391400,"[175.6162567138672, 172.67999267578125, 172.38..."
2022-02-07,171.660004,77251200,"[172.67999267578125, 172.38999938964844, 171.6..."
2022-02-08,174.830002,74829200,"[172.38999938964844, 171.66000366210938, 174.8..."
2022-02-09,176.279999,71285000,"[171.66000366210938, 174.8300018310547, 176.27..."
2022-02-10,172.119995,90865900,"[174.8300018310547, 176.27999877929688, 172.11..."
2022-02-11,168.639999,98566000,"[176.27999877929688, 172.1199951171875, 168.63..."
2022-02-14,168.880005,86185500,"[172.1199951171875, 168.63999938964844, 168.88..."
2022-02-15,172.789993,62527400,"[168.63999938964844, 168.8800048828125, 172.78..."
2022-02-16,172.550003,61177400,"[168.8800048828125, 172.7899932861328, 172.550..."
2022-02-17,168.880005,69589300,"[172.7899932861328, 172.5500030517578, 168.880..."
2022-02-18,167.300003,82772700,"[172.5500030517578, 168.8800048828125, 167.300..."
2022-02-22,164.320007,91162800,"[168.8800048828125, 167.3000030517578, 164.320..."
2022-02-23,160.070007,90009200,"[167.3000030517578, 164.32000732421875, 160.07..."
2022-02-24,162.740005,141147500,"[164.32000732421875, 160.07000732421875, 162.7..."
2022-02-25,164.850006,91974200,"[160.07000732421875, 162.74000549316406, 164.8..."
2022-02-28,165.119995,94869100,"[162.74000549316406, 164.85000610351562, 165.1..."
2022-03-01,163.199997,83474400,"[164.85000610351562, 165.1199951171875, 163.19..."
2022-03-02,166.559998,79724800,"[165.1199951171875, 163.1999969482422, 166.559..."
2022-03-03,166.229996,76335600,"[163.1999969482422, 166.55999755859375, 166.22..."
2022-03-04,163.169998,81921716,"[166.55999755859375, 166.22999572753906, 163.1..."

In [11]:
x = [1, 2, 3]
y = [2, 4, 6]
slope = np.polyfit(x,y,1)[0]
slope

1.9999999999999993

In [12]:
def slope3(x, y):
    return np.polyfit(x, y, 1)[0]

In [13]:
df_sample['slope3'] = df_sample.iloc[2:].apply(lambda x: slope3(x.roll, [-1, 0, 1]), axis=1)

In [14]:
df_sample

,Close,Volume,roll,slope3
Date,,,,
2022-01-07,171.950928,86580100,[171.950927734375],NaN
2022-01-10,171.970901,106765600,"[171.950927734375, 171.9709014892578]",NaN
2022-01-11,174.857224,76138300,"[171.950927734375, 171.9709014892578, 174.8572...",0.519668
2022-01-12,175.306641,74805200,"[171.9709014892578, 174.8572235107422, 175.306...",0.509014
2022-01-13,171.970901,84505800,"[174.8572235107422, 175.306640625, 171.9709014...",-0.440436
2022-01-14,172.849792,80355000,"[175.306640625, 171.9709014892578, 172.8497924...",-0.410942
2022-01-18,169.583939,90956700,"[171.9709014892578, 172.84979248046875, 169.58...",-0.417889
2022-01-19,166.018478,94815000,"[172.84979248046875, 169.5839385986328, 166.01...",-0.292582
2022-01-20,164.300659,91420500,"[169.5839385986328, 166.0184783935547, 164.300...",-0.363725
2022-01-21,162.203354,122848900,"[166.0184783935547, 164.3006591796875, 162.203...",-0.522506
2022-01-24,161.414337,162294600,"[164.3006591796875, 162.20335388183594, 161.41...",-0.648510
2022-01-25,159.576691,115798400,"[162.20335388183594, 161.41433715820312, 159.5...",-0.723011
2022-01-26,159.486801,108275300,"[161.41433715820312, 159.57669067382812, 159.4...",-0.814404
2022-01-27,159.017410,121954600,"[159.57669067382812, 159.48680114746094, 159.0...",-3.100210
2022-01-28,170.113266,179935700,"[159.48680114746094, 159.0174102783203, 170.11...",0.134933
2022-01-31,174.557602,115541600,"[159.0174102783203, 170.11326599121094, 174.55...",0.121292
2022-02-01,174.387817,86213900,"[170.11326599121094, 174.55760192871094, 174.3...",0.336997
2022-02-02,175.616257,84914300,"[174.55760192871094, 174.3878173828125, 175.61...",1.194582
2022-02-03,172.679993,89418100,"[174.3878173828125, 175.6162567138672, 172.679...",-0.392682
2022-02-04,172.389999,82391400,"[175.6162567138672, 172.67999267578125, 172.38...",-0.506358
2022-02-07,171.660004,77251200,"[172.67999267578125, 172.38999938964844, 171.6...",-1.846282
2022-02-08,174.830002,74829200,"[172.38999938964844, 171.66000366210938, 174.8...",0.442687
2022-02-09,176.279999,71285000,"[171.66000366210938, 174.8300018310547, 176.27...",0.413784
2022-02-10,172.119995,90865900,"[174.8300018310547, 176.27999877929688, 172.11...",-0.303900
2022-02-11,168.639999,98566000,"[176.27999877929688, 172.1199951171875, 168.63...",-0.261091
2022-02-14,168.880005,86185500,"[172.1199951171875, 168.63999938964844, 168.88...",-0.428844
2022-02-15,172.789993,62527400,"[168.63999938964844, 168.8800048828125, 172.78...",0.382276
2022-02-16,172.550003,61177400,"[168.8800048828125, 172.7899932861328, 172.550...",0.382099
2022-02-17,168.880005,69589300,"[172.7899932861328, 172.5500030517578, 168.880...",-0.407086
2022-02-18,167.300003,82772700,"[172.5500030517578, 168.8800048828125, 167.300...",-0.361838
2022-02-22,164.320007,91162800,"[168.8800048828125, 167.3000030517578, 164.320...",-0.425236
2022-02-23,160.070007,90009200,"[167.3000030517578, 164.32000732421875, 160.07...",-0.273809
2022-02-24,162.740005,141147500,"[164.32000732421875, 160.07000732421875, 162.7...",-0.171195
2022-02-25,164.850006,91974200,"[160.07000732421875, 162.74000549316406, 164.8...",0.416505
2022-02-28,165.119995,94869100,"[162.74000549316406, 164.85000610351562, 165.1...",0.700729
2022-03-01,163.199997,83474400,"[164.85000610351562, 165.1199951171875, 163.19...",-0.763679
2022-03-02,166.559998,79724800,"[165.1199951171875, 163.1999969482422, 166.559...",0.253379
2022-03-03,166.229996,76335600,"[163.1999969482422, 166.55999755859375, 166.22...",0.441704
2022-03-04,163.169998,81921716,"[166.55999755859375, 166.22999572753906, 163.1...",-0.485104

In [15]:
[x for x in range(1, 4)]

[1, 2, 3]

In [16]:
len([x for x in range(-10,11)])

21

In [17]:
from src import functions as fn

In [18]:
stock = 'aapl'
start_date = '12/12/1980'
days_ahead = 1
X_train, X_test, y_train, y_test, stock_df, current_price = f.data(stock, start_date, days_ahead)

In [19]:
stock_df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,month,dayofweek,oc,...,5stdev_slope9,roll13,slope13,3sma_slope13,3stdev_slope13,roll21,slope21,3sma_slope21,3stdev_slope21,direction
Date,,,,,,,,,,,,,,,,,,,,,
1981-01-15,0.109050,0.109922,0.109050,0.109050,14067200,0.0,0.0,1,3,0.000000e+00,...,0.000547,"[0.1256251335144043, 0.12257195264101028, 0.11...",-0.001531,-0.001534,0.000169,"[0.08811207860708237, 0.09029290825128555, 0.0...",0.000669,0.000834,0.000156,-1
1981-01-16,0.108614,0.108614,0.108177,0.108177,13395200,0.0,0.0,1,4,-4.015831e-03,...,0.000666,"[0.12257195264101028, 0.11908256262540817, 0.1...",-0.001239,-0.001492,0.000235,"[0.09029290825128555, 0.09291073679924011, 0.0...",0.000357,0.000626,0.000251,1
1981-01-19,0.114720,0.115156,0.114720,0.114720,41574400,0.0,0.0,1,0,1.209709e-16,...,0.000884,"[0.11908256262540817, 0.12039103358983994, 0.1...",-0.000753,-0.001174,0.000393,"[0.09291073679924011, 0.09858093410730362, 0.1...",0.000141,0.000389,0.000265,-1
1981-01-20,0.111667,0.111667,0.111231,0.111231,30083200,0.0,0.0,1,1,-3.906030e-03,...,0.000858,"[0.12039103358983994, 0.11777408421039581, 0.1...",-0.000472,-0.000821,0.000388,"[0.09858093410730362, 0.10337883979082108, 0.1...",-0.000125,0.000124,0.000241,1
1981-01-21,0.113412,0.114284,0.113412,0.113412,15904000,0.0,0.0,1,2,0.000000e+00,...,0.000603,"[0.11777408421039581, 0.11253920197486877, 0.1...",-0.000026,-0.000417,0.000366,"[0.10337883979082108, 0.10774131864309311, 0.1...",-0.000311,-0.000098,0.000228,-1

In [20]:
stock_df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits',
       'month', 'dayofweek', 'oc', 'hl', 'adj', '8stdev_adj', '8sma_adj',
       '8sma_close', '13stdev_adj', '13sma_adj', '13sma_close', '21stdev_adj',
       '21sma_adj', '21sma_close', 'roll3', 'slope3', '8sma_slope3',
       '8stdev_slope3', 'roll5', 'slope5', '8sma_slope5', '8stdev_slope5',
       'roll9', 'slope9', '5sma_slope9', '5stdev_slope9', 'roll13', 'slope13',
       '3sma_slope13', '3stdev_slope13', 'roll21', 'slope21', '3sma_slope21',
       '3stdev_slope21', 'direction'],
      dtype='object')

In [21]:
stock_df[['slope3', 'slope5', 'slope9', 'slope13', 'slope21']].iloc[:5]

              slope3    slope5    slope9   slope13   slope21
Date
1981-01-15  0.001309 -0.000785 -0.000829 -0.001531  0.000669
1981-01-16  0.000654 -0.000174 -0.000262 -0.001239  0.000357
1981-01-19  0.002835  0.001788  0.000465 -0.000753  0.000141
1981-01-20  0.001527  0.001439  0.000523 -0.000472 -0.000125
1981-01-21 -0.000654  0.001178  0.000487 -0.000026 -0.000311

In [22]:
stock_df[['slope3', 'slope5', 'slope9', 'slope13', 'slope21']].max()

slope3     7.770096
slope5     4.534222
slope9     2.782670
slope13    2.080410
slope21    1.360250
dtype: float64

In [23]:
stock_df[['slope3', 'slope5', 'slope9', 'slope13', 'slope21']].min()

slope3    -6.589478
slope5    -5.267615
slope9    -2.748917
slope13   -1.746813
slope21   -1.155814
dtype: float64

In [24]:
stocks = 'aapl'
for stock in stocks:
    print(stock)

a
a
p
l

In [25]:
from scipy.stats import zscore

In [27]:
test_df = stock_df[['slope3', 'slope5', 'slope9', 'slope13', 'slope21']].iloc[:100]
test_df

              slope3    slope5    slope9   slope13   slope21
Date
1981-01-15  0.001309 -0.000785 -0.000829 -0.001531  0.000669
1981-01-16  0.000654 -0.000174 -0.000262 -0.001239  0.000357
1981-01-19  0.002835  0.001788  0.000465 -0.000753  0.000141
1981-01-20  0.001527  0.001439  0.000523 -0.000472 -0.000125
1981-01-21 -0.000654  0.001178  0.000487 -0.000026 -0.000311
...              ...       ...       ...       ...       ...
1981-06-02 -0.002835 -0.001003  0.001578  0.001982  0.001077
1981-06-03 -0.002835 -0.001614  0.000596  0.001647  0.001121
1981-06-04  0.001090 -0.001265  0.000051  0.001378  0.001171
1981-06-05  0.000218 -0.000829 -0.000334  0.001031  0.001141
1981-06-08 -0.002835 -0.000654 -0.001032  0.000417  0.001063

[100 rows x 5 columns]

In [32]:
test_df['slope3_rol5'] = [x.to_list() for x in test_df.slope3.rolling(window=5)] #.apply(zscore)
test_df

,slope3,slope5,slope9,slope13,slope21,slope3_rol5
Date,,,,,,
1981-01-15,0.001309,-0.000785,-0.000829,-0.001531,0.000669,[0.00130851566791534]
1981-01-16,0.000654,-0.000174,-0.000262,-0.001239,0.000357,"[0.00130851566791534, 0.0006542205810546949]"
1981-01-19,0.002835,0.001788,0.000465,-0.000753,0.000141,"[0.00130851566791534, 0.0006542205810546949, 0..."
1981-01-20,0.001527,0.001439,0.000523,-0.000472,-0.000125,"[0.00130851566791534, 0.0006542205810546949, 0..."
1981-01-21,-0.000654,0.001178,0.000487,-0.000026,-0.000311,"[0.00130851566791534, 0.0006542205810546949, 0..."
...,...,...,...,...,...,...
1981-06-02,-0.002835,-0.001003,0.001578,0.001982,0.001077,"[0.0028351247310638467, 0.0030532144010067003,..."
1981-06-03,-0.002835,-0.001614,0.000596,0.001647,0.001121,"[0.0030532144010067003, 0.00021807476878166936..."
1981-06-04,0.001090,-0.001265,0.000051,0.001378,0.001171,"[0.00021807476878166936, 0.0002180747687816693..."
1981-06-05,0.000218,-0.000829,-0.000334,0.001031,0.001141,"[0.00021807476878166936, -0.002835106104612349..."
1981-06-08,-0.002835,-0.000654,-0.001032,0.000417,0.001063,"[-0.002835106104612349, -0.002835106104612349,..."